.loading-container {
  width: 100%;
  height: 100vh;
  background: linear-gradient(90deg, #6fd5e0, #d447b6);
  padding: 40px 60px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

/* --- PHẦN CĂN GIỮA CHÍNH --- */
.loading-content {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 60px;

  transform: translateY(-70px);   
}

/* Ảnh */
.loading-img {
  width: 300px;
  height: 300px;
  border-radius: 20px;
  object-fit: cover;
  background: white;
  margin-top: 20px;              
}

/* Chữ */
.loading-text {
  font-size: 40px;
  font-weight: 700;
  color: white;
  line-height: 1.35;
  transform: translateY(-20px);   
  text-align: left;
  text-align: center;
}
.loading-right {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

/* SPINNER XOAY */
.loading-spinner {
  width: 45px;
  height: 45px;
  border: 5px solid rgba(255, 255, 255, 0.3);
  border-top-color: white;
  border-radius: 50%;
  animation: spin 1s linear infinite;
  margin-top: 10px;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
