.custom-width-modal-1080 {
    max-width: 1080px !important;
    width: 90% !important;
}

.custom-width-modal-1080 .modal-content {
    max-width: none !important;
    width: 100% !important;
    border-radius: 12px;
}

.required:after {
    content: " *";
    color: red;
}
