services:
  api:
    build: .
    ports:
      - "8080:8080"
    environment:
      - ASPNETCORE_ENVIRONMENT=Docker
    depends_on:
      - db

  db:
    image: postgres:15
    environment:
      - POSTGRES_DB=Db_Test_Elearning
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=05022004
    ports:
      - "5433:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
      - ./db-init:/docker-entrypoint-initdb.d

volumes:
  postgres_data:
